body {
  background-color: #CCCCFF;
  font-size: 14pt;
  font-weight: bold;
  font-family: sans-serif;
}

h1 {
  font-size: 32pt;
  text-align: center;
  margin: 0px;
}

#displayarea {
  font-size: 12pt;
  font-family: monospace;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  height: 400px;
  display: block;
}

fieldset {
  display: inline;
  border-width: 5px;
  border-color: black;
  vertical-align: middle;
}

#controls {
  text-align: center;
}

#w3c {
  text-align: right;
  clear: both;
}
